---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Testing AIQUA recommandations</h1>
    <div class="mt-10">
        <h2 class="mb-4">Recommendations</h2>
        <div id="rec-list" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Recommendations will be rendered here -->
        </div>
        <script>
            appier('init', {
                app_id: '41a20648e34aaaad4d7e',
                platform: 'WEB'
            });
            appier(
                'getRecommendationByScenario',
                {
                    scenarioId: 'hEtzh8MBoGc65hX9xAPb55'
                },
                function (err, RecommendationData, RecommendationMeta) {
                    console.log('[debug] error:', err);
                    console.log('[debug]get recommendation data:', RecommendationData);
                    console.log('[debug]get recommendation meta:', RecommendationMeta);
                    renderRecommendations(RecommendationData);
                    appier('event', 'recommendation_impression', {
                        scenarioId: 'hEtzh8MBoGc65hX9xAPb55',
                        items: RecommendationData.map((r) => r.productId)
                    });
                }
            );
            function renderRecommendations(items) {
                console.log('[debug]Rendering recommendations:', items);
                const container = document.getElementById('rec-list');
                if (!container) return;

                container.innerHTML = items
                    .map(
                        (item) => `
    <div class="product">
      <img src="${item.image}" alt="${item.title}" />
      <p>${item.title}</p>
    </div>
  `
                    )
                    .join('');
            }
        </script>
    </div>
</Layout>
