---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Testing AIQUA recommandations</h1>
    <div class="mt-10">
        <h2 class="mb-4">Recommendations</h2>
        <div id="rec-list" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Recommendations will be rendered here -->
        </div>
        <script>
            function waitForAppierReady(callback) {
                console.log('[debug] waitForAppierReady called');
                console.log('[debug] appier:', appier);
                console.log('[debug] typeof appier:', typeof appier, typeof appier === 'function');
                if (typeof appier === 'function') {
                    callback();
                } else {
                    setTimeout(() => waitForAppierReady(callback), 100);
                }
            }
            appier('init', {
                app_id: '41a20648e34aaaad4d7e',
                platform: 'WEB'
            });
            // waitForAppierReady(() => {
            //     appier('getRecommendationByScenario', {
            //         scenarioId: 'hEtzh8MBoGc65hX9xAPb55',
            //         callback: function (response) {
            //             if (!response || !response.recommendations || response.recommendations.length === 0) {
            //                 console.warn('not recommendation data', response);
            //                 return;
            //             }
            //             console.log('get recommendation data:', response);

            //             renderRecommendations(response);
            //             appier('event', 'recommendation_impression', {
            //                 scenarioId: 'hEtzh8MBoGc65hX9xAPb55',
            //                 items: response.recommendations.map((r) => r.item_id)
            //             });
            //         }
            //     });
            // });
            appier('getRecommendationByScenario', {
                scenarioId: 'hEtzh8MBoGc65hX9xAPb55',
                callback: function (response) {
                    if (!response || !response.recommendations || response.recommendations.length === 0) {
                        console.warn('not recommendation data', response);
                        return;
                    }
                    console.log('get recommendation data:', response);

                    renderRecommendations(response);
                    appier('event', 'recommendation_impression', {
                        scenarioId: 'hEtzh8MBoGc65hX9xAPb55',
                        items: response.recommendations.map((r) => r.item_id)
                    });
                }
            });
            function renderRecommendations(items) {
                const container = document.getElementById('rec-list');
                container.innerHTML = items
                    .map(
                        (item) => `
            <div class="product">
                <img src="${item.image}" alt="${item.title}" />
                <p>${item.title}</p>
            </div>
        `
                    )
                    .join('');
            }
        </script>
    </div>
</Layout>
